
body {
    font-family: Microsoft JhengHei;
}
#banner {
    background-image: url(https://image.tienphong.vn/600x315/Uploaded/2023/rwbvhvobvvimsb/2021_09_06/6-nhom-trai-cay-de-an-buoi-sang-5711.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: 3.5rem;
}
.title {
    color: #3140ce;
    font-weight: bold;
}